.container-fluid {
  height: 60vh;
  width: 100%;
}

.media {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}

figure {
  height: 100%;
  overflow: hidden;
  position: relative;
}

figure:hover .media {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

figcaption {
  color: #252830;
  height: calc(100% - 30px);
  margin: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.body {
  background-color: white;
  bottom: 0;
  padding: 15px;
  position: absolute;
  width: 100%;
}
svg {
  height: inherit;
  width: 100%;
}
svg text {
  text-anchor: middle;
}
svg #alpha {
  fill: white;
}
svg .title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Nunito";
  letter-spacing: 5px;
}
svg #base {
  fill: white;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
