.img-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.img-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../../public/media/bg.jpg") no-repeat center;
  background-attachment: fixed;
  filter: opacity(0.4);
  filter: grayscale(0.7);
}

div.box{
  margin: 1rem 5rem;
}

h2{
  text-align: center;
}

section{
  margin: 3rem 0;
}